body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E3E7EB;
  }
    /* untuk menghilangkan gap pada body margin */


/* Flexbox harus diletakan di parent */

/*nav bar style*/

nav {
    display: flex;
    background-color: #f4f3f3;
    height: 10vh;
}

a {
    text-decoration: none;
    color: black;
}

nav div a.kontak {
    color: white;
    border: 1px solid #111727;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #111727;
}
 
nav div {
    display: flex;
    align-items: center;
}

nav div.sisi-kiri {
    padding-left: 70px;
    flex: 50%;
}

.sisi-kiri ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 20px 0px 20px;
}

nav div.sisi-kanan {
    padding-right: 70px;
    display: flex;
    justify-content: flex-end;
    flex: 50%;
}

/* Bagian Project */

.main-project-container h1 {
    text-align: center;
    margin: 40px auto 40px auto;
}

.content {
    margin: 30px 50px 30px 50px;
}

.project-header-container {
    display: flex;
    height: 400px;
}

.header-leftside {
    flex: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-leftside img {
    height: 80%;
    width: 80%;

}

.header-rightside {
    flex: 30%;
}

h3 {
    display: block;
}

div img {
    width: 30px;
}

.header-duration {
    display: flex;
    flex-direction: column;
}

.header-duration-tanggal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-duration-tanggal img {
    margin-right: 20px;
}

.header-duration-waktu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-duration-waktu img {
    margin-right: 20px;
}

.header-tech {
    display: flex;
}

.header-tech img {
    margin-right: 20px;
}

.header-tech-leftside {
    flex: 1;
}

.header-tech-leftside div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-tech-rightside {
    flex: 1;
}

.header-tech-rightside div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

div span {
    font-size: 14px;
    font-weight: bold;
}

.content p {
    text-align: justify;
}